<%= render "header" %>
<div class="list-group">
	<% if @user.favorites.empty? %>
	  <div class="list-group-item">
	  	まだお気に入りされた投稿はありません。
	  </div>
	<% end %>
	<%= render "users/post", post: @user.favorites.map { |f| f.post } %>
</div>